.App {
  height: 100vh;
  overflow: scroll;
}

.container {
  background: linear-gradient(135deg, #d5fff9, #f9e3ff);
  background-size: 150% 150%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-container {
  position: relative;
  top: 2vh;
  height: 8vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.body-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 2vh;
  height: 90vh;
}

.logo-text {
  background-color: white;
  border: 0;
  font-weight: bolder;
  color: #66706e;
  font-size: 15px;
  cursor: pointer;
}

.button {
  height: 42.5px;
  border: 0;
  width: auto;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #3c4241;
  opacity: 0.8;
  font-size: 14px;
  font-weight: lighter;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
}

.gradient-button {
  background: linear-gradient(to right, #00ffd1, #7000ff);
  background-size: 150% 150%;
  animation: gradient 5s ease infinite;
}

form {
  display: flex;
}

input[type="text"] {
  display: inline-block;
  color: #66706e;
  padding-left: 25px;
  width: 40%;
  height: 40px;
  font-size: 13px;
  font-weight: normal;
  border: none;
  border-radius: 30px;
  margin: 50px auto;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-text {
  color: #66706e;
  font-size: 30px;
  font-weight: 800;
}

.gradient-text {
  background: -webkit-linear-gradient(top, #00ffc3, #9c43ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-text {
  color: #66706e;
  font-size: 15px;
  font-weight: normal;
}

.auth-container {
  display: flex;
  flex-direction: column;
  min-width: 275px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.auth-button {
  background-color: #38f2dc;
  transition: background-color 1s;
  opacity: 0.8;
}

.auth-button:hover {
  background-color: #7000ff;
  color: white;
}

.creator-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 60%;
  background-color: white;
  border-radius: 40px;
  align-items: center;
  overflow-y: scroll;
}

.list-item {
  display: flex;
  flex-direction: row;
  min-height: 75px;
  width: 90%;
  margin-top: 2%;
  border-radius: 40px;
  background: linear-gradient(135deg, #f9e3ff, #d5fff9);
  align-items: center;
  gap: 3%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.list-item:hover {
  background: #d5fff9;
}

.user-log {
  margin-left: 5%;
  height: 30%;
}

.name-container {
  color: #66706e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-container .username {
  color: rgb(147, 179, 168);
}

.form-container {
  width: 70%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form-if-title {
  color: #66706e;
  font-size: 20px;
  font-weight: 500;
}

.form-if {
  display: inline-block;
  color: #66706e;
  padding-left: 25px;
  width: 90%;
  height: 40px;
  font-size: 13px;
  font-weight: normal;
  border: none;
  border-radius: 30px;
  margin: 10px auto;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.profile-circle {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.name-supporter-conatiner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cp-name-container {
  color: #66706e;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100px;
  min-width: 600px;
  border-radius: 30px;
  justify-content: space-between;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  justify-content: center;
}

.bold-text {
  color: #66706e;
  margin-left: 5%;
  font-weight: 750;
}

.normal-text {
  color: #66706e;
  margin-left: 5%;
  font-weight: 400;
  width: auto;
}

.supporter-box {
  min-height: 350px;
  max-width: 700px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.supporter-item {
  border-radius: 20px;
  padding: 10px;
}

.supporter-item:hover {
  background: #f9e3ff;
}

.amount-message-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 700px;
  margin: 10px;
  gap: 10px;
}

.message-container {
  height: auto;
  background-color: #d5fff9;
  margin-left: 5%;
  padding: 3%;
  border: 1px solid black;
  border-radius: 20px;
}

.buy-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 30px;
  min-width: 350px;
  align-items: center;
  justify-content: space-evenly;
}

.buy-section {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 5px;
}

.message-box {
  margin-left: 5%;
  width: 275px;
  height: 30px;
  background-color: #d5fff9;
  border: 1px solid black;
}

.amount-box {
  background-color: #f9e3ff;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 90%;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}
